<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>If & For</title>
    <link rel="stylesheet" href="/css/estilo.css" />
    <script src="/js/vue.min.js"></script>
  </head>
  <body class="exercicio">
    <div id="app">
      <p v-for="(aluno, i) in alunos">
        {{i+1}}) {{aluno.nome}} - {{aluno.nota}}
        <span v-if="aluno.nota >=9"> Quadro de Honra</span>
        <span v-else-if="aluno.nota >=7"> Aprovado</span>
        <span v-else-if="aluno.nota >=3"> Recuperação</span>
        <span v-else="aluno.nota >=3"> Reprovado</span>
      </p>
      <ul style="list-style: none">
        <li v-for="n in 5">{{n}}</li>
      </ul>
    </div>
    <script>
      new Vue({
        el: "#app",
        data: {
          alunos: [
            { nome: "Ana", nota: 7.8 },
            { nome: "Bia", nota: 9.8 },
            { nome: "Carlos", nota: 2.5 },
            { nome: "Daniel", nota: 4.7 },
          ],
        },
      });
    </script>
  </body>
</html>
